/* src/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2, h3 {
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.movie-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
}

.movie-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.movie-card button:hover {
    background-color: #0056b3;
}

.movie-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-detail input, .movie-detail textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.movie-detail button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.movie-detail button:hover {
    background-color: #218838;
}

.movie-detail button.delete {
    background-color: #dc3545;
    margin-left: 10px;
}

.movie-detail button.delete:hover {
    background-color: #c82333;
}
